@using Staj.Models
@model User
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>
<form asp-action="Update" asp-controller="User" method="post">
    <input disabled style="background-color:white;" class="form-control form-control-plaintext" asp-for="Id" />
    <span asp-validation-for="Id"></span>
    <input style="background-color:white;" class="form-control form-control-plaintext" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <input style="background-color:white;" class="form-control form-control-plaintext" asp-for="Surname" />
    <span asp-validation-for="Surname"></span>
    <input placeholder="Şifre" style="background-color:white;" class="form-control form-control-plaintext" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <input placeholder="Şifre Tekrarı" style="background-color:white;" class="form-control form-control-plaintext" asp-for="RePassword" />
    <span asp-validation-for="RePassword"></span>
    <input style="background-color:white;" class="form-control form-control-plaintext" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <button class="btn btn-dark">Güncelle</button>
</form>
